//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common =true) {
    .catalog-product-view {
        .breadcrumbs {
            .item.category,
            .item.home {
                a {
                    .lib-css(color, #000000);
                }
                &::after {
                    .lib-css(color, #DDDDDD);
                }
            }
        }

        .product-info-main {
            .lib-css(margin-bottom, 40px);
            .product-reviews-summary {
                .lib-visually-hidden();
            }

            .page-title-wrapper {
                .lib-css(clip, auto);
                .lib-css(height, auto);
                .lib-css(width, auto);
                .lib-css(margin, 0);
                .lib-css(overflow, visible);
                .lib-css(position, static);

                .page-title {
                    .lib-css(margin, 0);
                    .base {
                        .lib-css(font-size, 16px);
                        .lib-css(font-weight, 700);
                        .lib-css(color, #000000);
                    }
                }
            }

            .product-info-price {
                .lib-css(display, flex);
                .lib-css(flex-direction, column);
                .lib-css(border-bottom, none);
                .lib-css(margin-bottom, 0);

                .old-price span {
                    .lib-css(color, #303030);
                    .lib-css(font-size, 14px);
                    .lib-css(text-decoration, line-through);
                }

                .percent-discount {
                    // .lib-visually-hidden();
                    .lib-css(color, #fff);
                    .lib-css(border-radius, 4px);
                    .lib-css(background, #5ec0be);
                    .lib-css(padding, 2px 4px);
                    .lib-css(position, absolute);
                    .lib-css(top, 367px);
                    .lib-css(right, 460px);
                }

                .price {
                    .lib-css(color, @theme__color__primary);
                    .lib-css(font-size, 24px);
                    .lib-css(font-weight, 700);
                }

                .installment-text {
                    .lib-css(font-size, 14px);
                }
            }

            .product-info-stock-sku {
                .lib-css(width, 100%);
                .lib-css(display, flex);
                .lib-css(flex-direction, column);
                .lib-css(gap, 12px);
                .lib-css(margin, 8px 0 12px);
                .lib-css(padding, 0);
                .lib-css(text-align, left);

                .stock.available,
                .stock.unavailable {
                    .lib-css(display, flex);
                    .lib-css(align-items, center);
                    .lib-css(font-size, 12px);
                    .lib-css(font-weight, 400);
                    .lib-css(text-transform, initial);

                    &::before {
                        .lib-css(content, """");
                        .lib-css(width, 6px);
                        .lib-css(height, 6px);
                        .lib-css(border-radius, 50%);
                        .lib-css(margin-right, 3px);
                    }
                }

                .stock.available {
                    .lib-css(color, @theme__color__primary);

                    &::before {
                        .lib-css(background, @theme__color__primary);
                    }
                }

                .stock.stock.unavailable {
                    .lib-css(color, #FF2121);

                    &::before {
                        .lib-css(background, #FF2121);
                    }
                }

                .product.attribute.sku {
                    .lib-css(color, #303030);
                    strong {
                        .lib-css(font-size, 12px);
                        .lib-css(margin-right, 0);
                        &::after {
                            .lib-css(content, ":");
                        }
                    }

                    .value {
                        .lib-css(font-size, 12px);
                    }
                }
            }

            .product.alert {
                .lib-css(margin-bottom, 50px); // adiciona essa margem pro container de wishlist aparecer no main quando tem aviso
                // ação de aviso quando produto retornar ao estoque
                .action.alert {
                    .lib-css(display, flex);
                    .lib-css(justify-content, center);
                    .lib-css(align-items, center);
                    .lib-css(background, @theme__color__primary);
                    .lib-css(color, #dddddd);
                    .lib-css(padding, 8px);
                    .lib-css(font-size, 14px);
                    .lib-css(gap, 6px);
                    .lib-css(margin-bottom, 10px);

                    &::before {
                        .lib-css(content, """");
                        .lib-css(display, block);
                        .lib-css(width, 16px);
                        .lib-css(height, 16px);
                        .lib-css(background-repeat, no-repeat);
                        .lib-css(background-size, contain);
                        .lib-css(background-position, center);
                        .lib-css(background-image, url("@{baseDir}images/alert-icon.svg"));
                    }
                }
            }

            .swatch-attribute.size {
                .swatch-base-structure();
                .mixin-swatch-size(35px, 14px, 10px);
            }

            .swatch-attribute.color {
                .swatch-base-structure();
                .mixin-swatch-color(30px, 15px);
            }

            .product-options-wrapper,
            .product-add-form .field.qty .label {
                .lib-css(font-size, 14px);
                .lib-css(color, #000000);
                .lib-css(font-weight, 700);
            }

            .product-options-wrapper .swatch-attribute-label,
            .product-add-form .field.qty .label {
                &::after {
                    .lib-css(content, ":");
                }
            }

            .product-add-form {
                .lib-css(padding, 0);
                .box-tocart {
                    .field.qty {
                        .control.qty-stepper {
                            button {
                                .lib-css(padding, 0);
                                .lib-css(background, transparent);
                                .lib-css(color, #827d7d);
                                .lib-css(font-size, 16px);
                            }

                            .input-text.qty {
                                .lib-css(width, 46px);
                                .lib-css(height, 36px);
                                .lib-css(background, #f5f1f1);
                                .lib-css(border, 1px solid #d5d0d0);
                                .lib-css(color, #827d7d);
                                .lib-css(font-size, 16px);
                                .lib-css(font-weight, 700);
                            }
                        }
                    }
                    .action.tocart {
                        .lib-css(display, flex);
                        .lib-css(align-items, center);
                        .lib-css(justify-content, center);
                        .lib-css(width, 100%);
                        .lib-css(border-radius, 8px);
                        .lib-css(margin, 0);
                    }
                }
            }
            .product-social-links {
                .lib-css(margin-top, -30px);
                .product-addto-links {
                    .lib-css(display, flex);
                    .lib-css(width, 100%);
                    .action.towishlist {
                        .lib-css(display, flex);
                        .lib-css(flex-direction, row);
                        &::before {
                            .lib-css(content, """");
                            .lib-css(display, block);
                            .lib-css(width, 18px);
                            .lib-css(background-repeat, no-repeat);
                            .lib-css(background-size, contain);
                            .lib-css(background-position, center);
                            .lib-css(background-image, url("@{baseDir}images/wishlist-icon.svg"));
                        }
                        span {
                            .lib-css(text-transform, none);
                            .lib-css(color, @theme__color__primary);
                            .lib-css(font-size, 14px);
                            .lib-css(font-weight, 700);
                        }
                    }
                }
            }

            .product-share {
                .lib-css(display, flex);
                .lib-css(align-items, center);
                .action.share-native {
                    .lib-css(display, flex);
                    .lib-css(justify-content, center);
                    .lib-css(align-items, center);
                    .lib-css(gap, 10px); // espaço entre o ícone e o texto do botao
                    .lib-css(width, 224px);
                    .lib-css(height, 40px);
                    .lib-css(background-color, #535353);
                    .lib-css(font-size, 14px);
                    .lib-css(font-weight, 600);
                    .lib-css(text-decoration, underline);
                    .lib-css(border-radius, 10px);
                }
            }
        }
    }
}

//  Mobile
//  _____________________________________________
.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    .catalog-product-view {
        .product-info-main {
            .swatch-attribute.size {
                .swatch-base-structure();
                .mixin-swatch-size(27px, 11px, 15px);

                .swatch-attribute-options.clearfix {
                    .lib-css(margin, 24px 0);
                }
            }

            .swatch-attribute.color {
                .swatch-base-structure();
                .mixin-swatch-color(20px, 15px);

                .swatch-attribute-options.clearfix {
                    .lib-css(margin, 24px 0);
                }
            }

            .product-options-bottom {
                .action.primary.tocart {
                    .lib-css(height, 48px);

                    span {
                        .lib-css(font-size, 16px);
                        .lib-css(font-weight, 700);
                    }
                }
            }
        }

        .product.media {
            // adiciona borda e muda tamanho da foto mostrada no mobile
            .fotorama__wrap .fotorama__stage {
                border: 1px solid #e2e2e2;
                width: 357px !important;
                height: 357px !important;
            }
            .fotorama__nav--dots {
                .fotorama__nav__frame {
                    // ponto desativado 
                    .fotorama__dot {
                        width: 8px;
                        height: 8px;
                        background-color: #d5d0d0;
                        border: none;
                    }

                    //  ponto ATIVO
                    &.fotorama__active {
                        .fotorama__dot {
                            background-color: @theme__color__primary; 
                        }
                    }
                }
            }
        }
    }
}
