//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .catalog-product-view {
        .breadcrumbs {
            .item.category {
                a {
                    .lib-css(color, #000000);
                }
                &::after {
                    .lib-css(color, #DDDDDD);
                }
            }
        }

        .product-info-main {
            .product-reviews-summary {
                .lib-visually-hidden();
            }

            .page-title-wrapper {
                clip: auto;
                height: auto;
                width: auto;
                margin: 0;
                overflow: visible;
                position: static;

                .page-title {
                    margin: 0;
                    .base {
                        font-size: 16px;
                        font-weight: 700;
                        color: #000000;
                    }
                }
            }

            .product-info-price {
                .lib-css(display, flex);
                .lib-css(flex-direction, column);
                border-bottom: none;
                margin-bottom: 0;

                .price {
                    color: @theme__color__primary;
                    font-size: 24px;
                    font-weight: 700;
                }

                .installment-text {
                    font-size: 14px;
                }
            }
            .product-info-stock-sku {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: 8px 0 16px;
                .lib-css(padding-left, 0);
                .lib-css(text-align, left);

                .stock.available,
                .stock.unavailable {
                    display: flex;
                    align-items: center;
                    .lib-css(font-size, 12px);
                    .lib-css(font-weight, 400);
                    color: @theme__color__primary;
                    .lib-css(text-transform, initial);

                    &::before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        margin-right: 3px;
                        background: @theme__color__primary;
                    }
                }

                .product.attribute.sku {
                    color: #303030;
                    strong {
                        font-size: 12px;
                        margin-right: 0;
                        &::after {
                            content: ":";
                        }
                    }

                    .value {
                        font-size: 12px;
                    }
                }
            }

            .swatch-attribute.size {
                .swatch-base-structure();
                .mixin-swatch-size(35px, 14px, 10px);
            }

            .swatch-attribute.color {
                .swatch-base-structure();
                .mixin-swatch-color(30px, 15px);
            }

            .product-options-wrapper,
            .product-options-bottom .field.qty .label {
                font-size: 14px;
                color: #000000;
                font-weight: 700;
            }

            .product-options-wrapper .swatch-attribute-label,
            .product-options-bottom .field.qty .label {
                &::after {
                    content: ":";
                }
            }

            .product-options-bottom {
                .field.qty {
                    .control.qty-stepper {
                        button {
                            padding: 0;
                            background: transparent;
                            color: #827d7d;
                            font-size: 16px;
                        }

                        .input-text.qty {
                            width: 46px;
                            height: 36px;
                            background: #f5f1f1;
                            border: 1px solid #d5d0d0;
                            color: #827d7d;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
                .box-tocart .action.tocart {
                    width: 100%;
                    border-radius: 8px;
                    margin: 0;
                }
            }

            .product-social-links {
                margin-top: -30px;
                .action.towishlist {
                    display: flex;
                    flex-direction: row;
                    &::before {
                        .lib-css(content, """");
                        .lib-css(display, block);
                        .lib-css(width, 18px);
                        .lib-css(background-repeat, no-repeat);
                        .lib-css(background-size, contain);
                        .lib-css(background-position, center);
                        .lib-css(background-image, url("@{baseDir}images/wishlist-icon.svg"));
                    }
                    span {
                        text-transform: none;
                        color: @theme__color__primary;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }

            .product-share {
                display: flex;
                align-items: center;
                .action.share-native {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px; // espaço entre o ícone e o texto do botao
                    width: 224px;
                    height: 40px;
                    background-color: #535353;
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: underline;
                    border-radius: 10px;
                }
            }
        }
    }
}
