//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .catalog-product-view {
        .block.related {
            margin-top: 82px;

            .block-title.title {
                margin: 0 0 -10px;
                font-size: 20px;
                font-weight: 700;
                color: #000000;
                strong {
                    margin-bottom: 0;
                }
            }
        }
        .products.wrapper.grid.slider-prateleira {
            .slick-slider {
                padding: 0;
                margin: 0;
            }
            .item.product.product-item {
                .lib-css(width, 242px);
                margin: 0;
            }

            // // wishlist
            .product-item .product-item-info .actions-secondary {
                .flex-center();
                .lib-css(position, absolute);
                .lib-css(top, -300px);
                .lib-css(right, 5px);
                .lib-css(z-index, 99);

                // ícone de coraçao
                .action.towishlist::before {
                    .flex-center();
                    .lib-css(font-size, 20px);
                    .lib-css(width, 100%);
                    .lib-css(height, 25px);
                    .lib-css(color, @theme__color__primary);
                }
            }
        }
    }
}
